In [2]:
import pandas as pd

Cargar datos

In [3]:
''' 
0. Importamos el dataset de los datos de los pokemon
'''
df = pd.read_csv("pokemon.csv")
df.head()
df.tail()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [5]:
''' 
1. ¿Cuántos pokémon hay en el dataset?
''' 

df['Name'].count()
len(df)

800

In [4]:
'''
2. ¿Cuántos pokémon hay de tipo Poison? (Type 1)
'''
# filtro el data frame y le pregunto cuántos nombres hay.  
df[df['Type 1']=='Poison']['Name'].count()

28

In [49]:
'''
3. ¿Cuántos tipos diferentes de pokémon hay? (Type 1)
'''
len(df.groupby('Type 1'))

# también se puede calcular con unique count: 
df['Type 1'].nunique()

18

In [84]:
'''
3.1. ¿Cuántos pokémon hay de cada tipo? (Type 1)
'''

df.groupby('Type 1')['Name'].count()

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: Name, dtype: int64

In [76]:
'''
3.2 ¿cual es el tipo de pokémon con más pokémon? (Type 1)
'''

# agrupamos por tipo, contamos los nombres, ordenamos descendentemente y nos quedamos con el primer índice (nombre)
df.groupby('Type 1')['Name'].count().sort_values(ascending = False).index[0]

#también podemos guardar la serie resultante de la agregación y filtrarla por el valor máximo: 
tipos = df.groupby('Type 1')['Name'].count()
tipos[tipos == tipos.max()]

'Water'

In [67]:
'''
3.3. ¿Cuál es el pokémon más rápido?
'''

df[df['Speed']==df['Speed'].max()]

                  Name  Speed
431  DeoxysSpeed Forme    180

In [87]:
'''
4. ¿Cuántos pokemon tiene una defensa superior a 100?
'''

len(df[df['Defense']>100])

123

In [94]:
'''
5. ¿Cuántos pokemon tiene una defensa superior a 100 y una velocidad superior a 100?
'''
len(df[(df['Defense']>100) & (df['Speed']>100)])

9

In [96]:
'''
6. Ordena el dataset por el tipo 1 y por el tipo 2
'''
df.sort_values(['Type 1', 'Type 2'])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
656,595,Joltik,Bug,Electric,319,50,47,50,57,50,65,5,False
657,596,Galvantula,Bug,Electric,472,70,77,60,97,60,108,5,False
231,214,Heracross,Bug,Fighting,500,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
697,636,Larvesta,Bug,Fire,360,55,85,55,50,55,60,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False
724,656,Froakie,Water,NaN,314,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,405,54,63,52,83,56,97,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False

In [101]:
'''
7. Crea un nuevo dataset con los pokémon de tipo Water y Fire como primer tipo
'''

fire_water = df[(df['Type 1'] == 'Water') | (df['Type 1'] == 'Fire') ]
fire_water

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [4]:
''' 
8. Crea un nuevo dataset con los pokemon Legendary
'''

legendary = df[df['Legendary']]
legendary

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [26]:
'''
9. Calcula el promedio de stats de los pokemon Legendary (HP, Attack, Defense, Sp. Atk, Sp. Def, Speed) y los no Legendary
'''
# los legendary (el resultado es una serie)
df[df['Legendary']][['HP','Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].mean()
# los no legendary
df[~df['Legendary']][['HP','Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].mean()

# también se podrían calcular con describe: 
df[df['Legendary']].describe().loc['mean', ['HP','Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']]
df[~df['Legendary']].describe().loc['mean', ['HP','Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']]

In [168]:
'''
10. Crea un nuevo dataframe con el resultado del anterior ejercicio comparando ambos promedios

 ejemplo:
                HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
 Legendary       99      90       89       91       94     90
 No Legendary    80      95       75       12       43     87
'''
# junto las dos series en un df, indicando los índices "Legendary" y "No Legendary"
df2 = pd.DataFrame([df[df['Legendary']].describe().loc['mean'][2:-1], df[~df['Legendary']].describe().loc['mean'][2:-1]], index=['Legendary', 'No Legendary'])
df2

,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
Legendary,92.738462,116.676923,99.661538,122.184615,105.938462,100.184615
No Legendary,67.182313,75.669388,71.559184,68.454422,68.892517,65.455782

In [182]:
'''
11. Añade una nueva colunma ['Doble tipo'] al dataframe inicial que inndique si el pokemo tiene dos tipos o no
'''
df['Doble tipo']=(df['Type 1'].notnull()) & (df['Type 2'].notnull())
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Doble tipo
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,True
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,True
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,True
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,True
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,True

In [186]:
'''
12. Muestra las columas Name, Type 1, Type 2 de los pokémon que tienen dos tipos y ordenalos por Type 1 , Type 2 y Name
'''
df.loc[df['Doble tipo'],['Name', 'Type 1', 'Type 2']].sort_values(['Type 1', 'Type 2', 'Name'])

#también funciona, ¿alguna opción es mejor?: 
df[df['Doble tipo']][['Name', 'Type 1', 'Type 2']].sort_values(['Type 1', 'Type 2', 'Name'])

                        Name Type 1    Type 2
657               Galvantula    Bug  Electric
656                   Joltik    Bug  Electric
231                Heracross    Bug  Fighting
232  HeracrossMega Heracross    Bug  Fighting
697                 Larvesta    Bug      Fire
..                       ...    ...       ...
626               Carracosta  Water      Rock
240                  Corsola  Water      Rock
404                Relicanth  Water      Rock
625                 Tirtouga  Water      Rock
440                 Empoleon  Water     Steel

[414 rows x 3 columns]

In [193]:
from functools import reduce

# 13. Dada una lista de Artículos con sus precio. Define las siguientes funciones:
# Puedes definir más funciones si lo consideras necesario.

articulos = {
    'Camisa': 20,
    'Pantalón': 30,
    'Calcetines': 5,
    'Zapatos': 50,
    'Gorra': 10,
    'Bufanda': 15,
    'Gafas': 25,
    'Reloj': 35,
    'Corbata': 40,
}

compra = ['Camisa', 'Pantalón', 'Pantalón', 'Gorra', 'Gafas', 'Corbata']

In [213]:
# A. Una función que calcule el precio total de la compra

precio = lambda iter: reduce (lambda x,y:x+y, map(lambda x:articulos[x], iter))
precio (compra)

155

In [214]:
# B. Una función que calcule el precio total de la compra con un descuento del 10%
precio_d10 = lambda iter: precio(iter)*0.9
precio_d10(compra)

139.5

In [220]:
# C. Una función que calcule el precio total de la compra con un descuento del 10% si la compra supera los 100€
precio_desc_cond = lambda iter: precio_d10(iter) if precio(iter) >100 else precio(iter)
precio_desc_cond(['Gafas', 'Gafas', 'Gafas', 'Gafas', 'Gafas'])

112.5

In [222]:
# D. Una función que calcule el precio total aplicando el IVA (21%)

precio_IVA = lambda iter: precio(iter)*1.21
precio_IVA(compra)

187.54999999999998

In [225]:
# E. lista los artículos cuyo precio es superior a 20€
caros = lambda iter: filter(lambda x: articulos[x] > 20, iter)
list(caros(compra))

['Pantalón', 'Pantalón', 'Gafas', 'Corbata']

In [35]:
'''
14. Dada una lista de tuplas con el nombre de un alumno, apellidos, curso y sus notas. 

 Define una funcion que reciba el curso y saque una lista en la que aparezca e nombre y apellidos y el promedio de sus notas.
 Puedes definir más funciones si lo consideras necesario.
'''

alumnos = [('Juan', 'Pérez', '1', [5, 6, 7, 8, 9]),
            ('Ana', 'García', '2', [5, 6, 7, 8, 9]),
            ('Luis', 'González', '1', [5, 6, 7, 8, 9]),
            ('María', 'Martínez', '2', [5, 6, 7, 8, 9]),
            ('Pedro', 'Rodríguez', '1', [5, 6, 7, 8, 9]),
            ('Lucía', 'Hernández', '2', [5, 6, 7, 8, 9]),
            ('Marta', 'López', '1', [5, 6, 7, 8, 9]),
            ('Sara', 'Díaz', '2', [5, 6, 7, 8, 9]),
            ('Javier', 'Sánchez', '1', [5, 6, 7, 8, 9]),
            ('Miguel', 'Fernández', '2', [5, 6, 7, 8, 9]),
            ('Sergio', 'Jiménez', '1', [5, 6, 7, 8, 9]),
            ('Sandra', 'Ruiz', '2', [5, 6, 7, 8, 9]),
            ('Pablo', 'Álvarez', '1', [5, 6, 7, 8, 9]),
            ('María', 'Gómez', '2', [5, 6, 7, 8, 9]),
]

# Usando filter y map:

filtrar_por_curso = lambda curso, lista: filter(lambda x: x[2] == curso, lista)
calcular_media = lambda lista: map(lambda x: (x[0]+" "+x[1], sum(x[3])/len(x[3])), lista)

def media_filtrada_v1(curso, lista = alumnos):
    return list(calcular_media(filtrar_por_curso(curso, lista)))


# También se podría resolver usando list comprehensions: 

def media_filtrada_v2 (curso, lista=alumnos): 
    return [(x[0]+" "+x[1], sum(x[3])/len(x[3])) for x in lista if x[2] == curso ]

# Compruebo que el output de las dos funciones es el mismo: 

print("\ncon funciones: \ncurso 1:\n", media_filtrada_v1("1"), "\ncurso 2:\n", media_filtrada_v1("2"))

print("\ncon list compregensions: \ncurso 1:\n", media_filtrada_v2("1"), "\ncurso 2:\n", media_filtrada_v2("2"))

con funciones:
curso 1:
 [('Juan Pérez', 7.0), ('Luis González', 7.0), ('Pedro Rodríguez', 7.0), ('Marta López', 7.0), ('Javier Sánchez', 7.0), ('Sergio Jiménez', 7.0), ('Pablo Álvarez', 7.0)]
curso 2:
 [('Ana García', 7.0), ('María Martínez', 7.0), ('Lucía Hernández', 7.0), ('Sara Díaz', 7.0), ('Miguel Fernández', 7.0), ('Sandra Ruiz', 7.0), ('María Gómez', 7.0)]

con list compregensions:
curso 1:
 [('Juan Pérez', 7.0), ('Luis González', 7.0), ('Pedro Rodríguez', 7.0), ('Marta López', 7.0), ('Javier Sánchez', 7.0), ('Sergio Jiménez', 7.0), ('Pablo Álvarez', 7.0)]
curso 2:
 [('Ana García', 7.0), ('María Martínez', 7.0), ('Lucía Hernández', 7.0), ('Sara Díaz', 7.0), ('Miguel Fernández', 7.0), ('Sandra Ruiz', 7.0), ('María Gómez', 7.0)]